<div class="col-md-5 mb-4 list-group" *ngFor="let employee of employeeList">
    <ul class=" list-group-item h-100">
        <h2 class="text-uppercase">{{employee.urlname}}</h2>
        <hr>
        <p><i class="fa fa-user" aria-hidden="true"></i> {{employee.login}}</p>
        <p><i class="fa fa-unlock-alt" aria-hidden="true"></i> {{employee.password}}</p>
        <hr>
        <img style="max-width: 150px;"
             src="{{employee.image}}"
             alt="">
        <hr>

        <button class="btn btn-outline-danger" (click)="onDelete(employee.$key)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>

        <button class="btn btn-outline-success" (click)="onEdit(employee)">
            <i class="fa fa-refresh" aria-hidden="true"></i>
        </button>

    </ul>
</div>
