<form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
  <input type="hidden" name="$key" #$key="ngModel" [(ngModel)] = employeeService.selectedEmployee.$key>
  <div class="form-group">
    <label >Наименование </label>
    <input type="text" name="urlname" #urlname="ngModel" [(ngModel)]="employeeService.selectedEmployee.urlname" class="form-control"  placeholder="site url" required>
  </div>
  <div class="form-group">
    <label >Login/Email</label>
    <input type="text" name="login" #login="ngModel" [(ngModel)]="employeeService.selectedEmployee.login" class="form-control"   placeholder="login/email" required>
  </div>
  <div class="form-group">
    <label >Пароль</label>
    <input type="text" name="password" #password="ngModel" [(ngModel)]="employeeService.selectedEmployee.password" class="form-control"  placeholder="********" required>
  </div>
  <div class="form-group">
    <label >Изображение</label>
    <input type="text" name="image" #image="ngModel" [(ngModel)]="employeeService.selectedEmployee.image" class="form-control"  placeholder="https://...." required>
  </div>

  <div class="container">
    <div class="row">
      <div  class="col-md-4 p-0">
        <button [disabled]="!employeeForm.valid" type="submit" class=" w-100 btn btn-outline-primary"><i class="fa fa-plus" aria-hidden="true"></i> Добавить</button>
      </div>
      <div class="col-md-4 ">
        <button type="button" class=" w-100 btn btn-outline-danger"><i class="fa fa-trash" aria-hidden="true"></i> Удалить</button>

      </div>
      <div class="col-md-4 p-0">
        <button type="button" class="w-100 btn btn-outline-warning" (click)="resetForm(employee)"><i class="fa fa-refresh"  aria-hidden="true"></i> Сбросить</button>
      </div>
    </div>
  </div>
</form>